[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
dendropy = "*"

[packages]
arbow = {editable = true,path = "."}
e1839a8 = {editable = true,path = "."}
biopython = "*"
pandas = "*"
numpy = "*"
pytest = "*"

[requires]
python_version = "3.7"
